.create__book {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    text-align: center;
    border-radius: 24px;
    padding: 48px;
}

legend {
    color: black;
}

.create__form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.field {
    width: 100%;
    height: 56px;
    padding: 0 72px;
    border-radius: 8px;
    border: 2px solid var(--color-primary-variant);
    text-align: center;
}

.create__form .btn {
    color: var(--color-primary);
    transition: var(--transition);
    margin-left: auto;
    margin-right: auto;
    padding: 18px 22px;
    background-color: var(--color-bg);
    font-weight: 700;
}

.create__form .btn:hover {
    background-color: var(--color-bg-variant);
}