.book__header {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 13px 200px;
}

.navbar__buttons {
    display: flex;
}

.navbar__buttons .btn {
    margin: 0 7px;
}

.book__section {
    position: relative;
}

.book__section__text__content {
    position: absolute;
    top: 600px;
    right: 40%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.section__img {
    opacity: 0.7;
    height: 700px;
}

.book__section__main__text {
    color: var(--color-bg-variant);
    position: absolute;
    top: 600px;
    margin-left: 582px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}