.dashboard {
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
}

li {
    display: inline-block;
}

.other__books__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.img img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.otherBooks {
    margin: 20px 0;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    background-color: green;
    transition: all .2s ease-in-out; 
}

.otherBooks:hover {
    transform: scale(1.1);
}

.otherBooks h3 {
    text-align: center;
}

.otherBooks .type {
    text-align: center;
}

.otherBooks a {
    margin-bottom: 10px;
    margin-left: 5px;
}