a, button {
    cursor: pointer;
}

.login__card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    text-align: center;
    border-radius: 24px;
    padding: 48px;
}

.login__card > h2 {
    color: var(--color-primary);
    margin: 0 0 12px;
    font-size: 36px;
}

.login__card > h3 {
    color: var(--color-primary-variant);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
}

.login__form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login__form > input {
    width: 100%;
    height: 56px;
    padding: 0 72px;
    border-radius: 8px;
    border: 2px solid var(--color-primary-variant);
    text-align: center;
}

.login__form > button {
    color: var(--color-primary);
    transition: var(--transition);
    margin-left: auto;
    margin-right: auto;
    padding: 18px 22px;
    background-color: var(--color-bg);
    font-weight: 700;
}

.login__form > button:hover {
    background-color: var(--color-bg-variant);
}